.testPage{
    display: flex;
    gap: 20px;
    flex-direction: column;

    width: 100%;
    padding: 40px;
    border-radius: 4px;

    p{
        color:  red;
    }
    @include animation-on-hover{
        background-color: #fff;
    } 
}